---
import "../style.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import TimeSpan from "../components/TimeSpan.astro";
import { exp, edu } from "../config/aboutData";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>About - Priyansh Agrahari</title>
    <meta name="description" content="Priyansh Agrahari's About Page" />
  </head>
  <body>
    <header>
      <h1>About</h1>
      <Navigation />
    </header>

    <main>
      <h2>Work Experience</h2>
      <TimeSpan data={exp} />

      <h2>Education</h2>
      <TimeSpan data={edu} />
    </main>

    <Footer />
  </body>
</html>
