---
import "../style.css";
import Navigation from "../components/Navigation.astro"
import Footer from "../components/Footer.astro"
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Projects - Priyansh Agrahari</title>
    <meta name="description" content="Priyansh Agrahari's Projects" />
  </head>
  <body>
    <header>
      <h2 class="cursive">Priyansh Agrahari's Projects</h2>
      <Navigation />
    </header>

    <main>
      <p>list goes here</p>
    </main>

    <Footer />
  </body>
</html>
