.menu-item {
    color: inherit;
    text-decoration: inherit;
    font-size: 1.1em;
    text-shadow: #fff 0px 0px 0px;
    transition: all 300ms;
}

.menu-item:hover {
    text-shadow: #fff 0px 0px 16px;
}