:root,
html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
}

:root {
    color-scheme: light dark;
    --primary-fg: light-dark('black', 'white');
    --primary-bg: light-dark('whitesmoke', 'slate');

    text-decoration: none;
    font-family: "Space Mono", monospace;
}

body {
    color: var(--primary-fg);
    background-color: var(--primary-bg);
    transition: color 300ms, background-color 300ms;
}