@import url(/css/fonts.css);
@import url(/css/icons.css);

:root {
  --bg: rgb(255, 252, 240);
  --bg-2: rgb(242, 240, 229);
  --tx-2: rgb(135, 133, 128);
  --tx: rgb(28, 27, 26);

  @media (prefers-color-scheme: dark) {
    --bg: rgb(16, 15, 15);
    --bg-2: rgb(28, 27, 26);
    --tx-2: rgb(135, 133, 128);
    --tx: rgb(206, 205, 195);
  }
}

* {
  transition: color, background-color 300ms ease-in-out;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 1rem;
  color: var(--tx);
  background-color: var(--bg);
}

a {
  text-decoration: underline;
  color: inherit;
}

a:hover {
  text-underline-offset: 0.3rem;
}

header {
  margin: 1rem 0;
}

*:not(i) {
  font-family: "Atkinson Hyperlegible", sans-serif;
}

pre,
code {
  font-family: "Fira Code", monospace;
}

h1,
h2,
h3,
.display {
  font-family: "Playfair Display", serif;
}